:root {
  /* Sidebar */

  --Linear-bg: linear-gradient(250deg, rgb(88 123 227) 00%, rgb(5 44 163) 99%);

  /* 
  --Linear-bg: linear-gradient(
    250deg,
    rgb(96 104 128) 00%,
    rgb(70 77 100) 30%,
    rgb(37 45 69 / 98%) 80%
  ); */
  --first-color-bg: rgb(88 123 227);
  --main-color-bg: rgb(5 44 163);
  --accent-color-bg: #beefed96;
  --hover-color-bg: #1a299f78;

  --main-text-color: #dcdcdcbd;
  --accent-text-color: rgb(5 44 163);
}
