h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.Toastify__toast--success {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  background-color: #9efff2;
  padding: 20px 40px;
}

@media screen and (min-width: 500px) {
  .Toastify__toast--success {
    top: 0px;
    left: 100px;
    width: 430px;
    height: 130px;
  }
}
